h1 {
  color: SeaGreen;
	text-align: center;
		}
h2 {
  color: SeaGreen;
	text-align: center;
		}
h3 {
  color: SeaGreen;
	text-align: center;
		}
 
 
p, 
li {
  font-size: 18px;
	text-align: center;
	}
 
 
a {
  text-decoration: none;
	text-align: center;
	}
